.container {
  width: 100%;
  height: 55vh;
  display: flex;
  align-content: flex-end;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
